@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500&display=swap');

:root {
    --main-color: #1289c0;
    --main-btn-color: #003b59;
    --white-color: #f7f6fb;
}

.wrapper {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    display: flex;
}

.side-bar {
    width: 250px;
    height: 100%;
    background-color: #0e5677;

    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2222;
    transition: 0.5s;
}

header {
    color: var(--white-color);
    font-weight: 600;
    transition: 0.5s ease;
}

.side-bar header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    width: 150px;
    height: 150px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/logo-club.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.side-bar .side-bar-list {
    display: flex;
    flex-direction: column;
}

.side-bar-item {
    color: var(--white-color);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 22px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.side-bar-item:hover {
    cursor: pointer;
    transform: translateX(20px);
    width: calc(100% - 64px);
    border-radius: 20px 0 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.side-bar-list .active-item {
    transform: translateX(+20px);
    width: calc(100% - 64px);
    border-radius: 20px 0 0 20px;
    background-color: var(--main-color);
}

.side-bar-item i {
    margin-right: 20px;
}

/* Main */
.main-content {
    width: 100%;
    padding-left: calc(250px + 20px);
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1670px) {
    .side-bar {
        width: 100px;
    }

    .main-content {
        padding-left: calc(100px + 20px);
    }

    .side-bar header {
        font-size: 25px;
    }

    .side-bar p {
        display: none;
    }

    .side-bar header {
        width: 80px;
        height: 80px;
    }
}

/* main header */
.main-content .header {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.main-content .header header {
    margin-left: 25px;
    font-size: 30px;
    width: 20%;
}

.header-search {
    flex: 1;
    padding: 20px;
    margin-left: 70px;
    box-sizing: border-box;
}

.header-search-content {
    width: 80%;
    margin: auto;
    padding: 0 10px;
    background-color: #f9f9f9;
    color: #262829;
    font-size: 20px;
    box-shadow: -1px 1px 0 rgb(0 0 0 / 30%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-search-content > input {
    flex: 1;
    padding: 10px 0;
    background-color: transparent;
    border: 0;
    margin-left: 20px;
    font-size: 20px;
    color: #272829;
    outline: none;
}

/* header right */
.main-content .header-right {
    margin-left: 50px;
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}

.header-right .user-name {
    margin-right: 20px;
    font-size: 20px;
    color: var(--white-color);
}

.header-right .list-bar {
    width: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: var(--white-color);
    background-color: var(--main-btn-color);
    border: solid 20px var(--main-btn-color);
    cursor: pointer;
    position: relative;
}

.header-right .list-bar-popover {
    z-index: 1;
    width: 220px;
    padding: 20px 0;
    background-color: var(--main-btn-color);
    border-radius: 20px 0 20px 20px;
    position: absolute;
    top: calc(100% + 20px);
    right: -20px;
    display: none;
}

.header-right .list-bar-popover li a {
    width: 220px;
    height: 30px;
    padding-left: 15px;
    box-sizing: border-box;
    color: var(--white-color);
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    opacity: 0.5;
    transition: 0.2s ease-in;
}

.header-right .list-bar-popover a span {
    margin-left: 20px;
}

.list-bar-popover li a:hover {
    cursor: pointer;
    background-color: #003550;
    opacity: 1;
}

.activeFlex {
    display: flex !important;
}

.errorColor {
    color: red !important;
}

.btn {
    outline: none;
    border: 0;
    font-size: 14px;
    border-radius: 20px;
    padding: 20px 20px;
    opacity: 0.9;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}

/* Section */

.main-content .section {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    display: none;
}

/* Tab dashboard ...................................................... */
.tab-dashboard {
    display: flex;
    flex-wrap: wrap;
}

.tab-dashboard .sales {
    width: 40%;
    height: 150px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.tab-dashboard .sales:nth-child(1) {
    margin-top: 70px;
}

.sales .title {
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    font-size: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sales .title .drop-down i {
    width: 20px;
    height: 20px;
    font-size: 40px;
    color: var(--main-btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sales .title .list-date {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 200px;
    background-color: var(--main-btn-color);
    color: var(--white-color);
    border-radius: 10px;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1;
    display: none;
}

.sales .title .list-date li {
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.5s ease;
}

.sales .title .list-date li:hover {
    background-color: #999;
    cursor: pointer;
}

.sales .info {
    width: 100%;
    display: flex;
    align-items: center;
}

.sales .dolla-logo {
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background-color: var(--main-btn-color);
    color: var(--white-color);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales .info-amount-bill {
    flex: 1;
    box-sizing: border-box;
    margin-left: 20px;
    font-size: 30px;
    padding-left: 20px;
    text-align: left;
}

.sales .info-amount-bill p:nth-child(1) {
    color: var(--main-color);
    margin-bottom: 10px;
}

/* Tab another */

/* Tab-side-bar */
.tab-side-bar {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-side-bar .item {
    width: calc(100% - 50px);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px 0;
    background-color: var(--main-btn-color);
    color: var(--white-color);
    border: solid 1px var(--white-color);
    position: relative;
}

.tab-side-bar .item:first-of-type {
    margin-top: 81px;
}

.tab-side-bar .item:not(:first-of-type) {
    margin-top: 20px;
}

.tab-side-bar .item ul {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: solid 1px var(--white-color);
    margin-top: 20px;
}

.tab-side-bar .item p {
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.item ul li {
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    padding: 5px 10px 5px 20px;
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    transition: 0.5s;
    cursor: pointer;
}

.item ul li input {
    margin-right: 20px;
    cursor: pointer;

}

.item ul li label {
    cursor: pointer;
    flex: 1;
    margin: auto;
}
.item ul li i {
    font-size: 1.2rem;
    transition: 0.5s;
}
.item ul li i:hover
{
    cursor: pointer;
    transform: scale(120%);
}
.item ul li:first-child {
    margin-top: 20px;
}



.btn-add-type {
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 0%;
    transform: translate(-10%, 50%);
    background-color: var(--white-color);
    color: var(--main-btn-color);
    font-weight: 600;
    padding: 10px;
}

.DateDealAnother {
    width: 300px;
    z-index: 111111;
    position: absolute;
    top: 70%;
    left: calc(100% + 20px);
    border-radius: 20px;
    padding: 20px;
    background-color: var(--white-color);
    color: var(--main-btn-color);
    animation: SlideToRight 0.5s ease;
    flex-direction: column;
    display: none;
}

@keyframes SlideToRight {
    from {
        opacity: 0;
        transform: translate(-20px, -20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.DateDealAnother .form-group:not(:last-of-type) {
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.DateDealAnother .form-group:last-of-type {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.DateDealAnother .form-group .btn {
    font-size: 20px;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: var(--main-btn-color);
    color: var(--white-color);
}

.DateDealAnother .form-group input[type='date'] {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Main tab */
.section .main-tab {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.action .btn {
    margin-top: 20px;
    font-size: 18px;
    background-color: var(--main-btn-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--white-color);
}

.action .btn:last-child {
    margin-right: 20px;
}

#Table-show-deal {
    margin-top: 60px;
}

/* Table Show */
.main-tab .table-show {
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    background-color: var(--main-btn-color);
    border-radius: 20px;
    color: var(--white-color);
}

.table-show .row {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 10px;
    transition: 0.5s ease-in;
}

.col-1 {
    width: 10%;
    text-align: center;
}

.col-2 {
    width: 20%;
    text-align: center;
}

.col-3 {
    width: 30%;
    text-align: center;
}

.col-4 {
    width: 40%;
    text-align: center;
}

.col-3-2 {
    width: 15%;
    text-align: center;
}

.col-5-2 {
    width: 25%;
    text-align: center;
}

.table-header {
    border-radius: 15px;
    background-color: var(--white-color);
    color: blue;
}

.table-show .list-row {
    max-height: calc(100% - 70px);
    overflow-y: auto;
}

.row:not(.table-header):hover {
    cursor: pointer;
    background-color: var(--white-color);
    color: blue;
    width: calc(100% - 40px);
    border-radius: 15px;
    transform: translateX(20px);
}

:not(body)::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

:not(body)::-webkit-scrollbar-track {
    background: var(--main-btn-color);
}

:not(body)::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

:not(body)::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* add item wrapper */

.add-item-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2222;
    transition: 0.5s;
    display: none;
}

.add-item-wrapper .add-item {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
}

.add-item .title {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.add-item .title p:last-child {
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    color: red;
}

.add-item .title p:first-child {
    font-size: 20px;
    color: blue;
}

.add-item .title .title-action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: transparent;
    transition: 0.5s ease;
    display: none;
}

.add-item .title .title-action button {
    background-color: var(--white-color);
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-item .title .title-action button:hover {
    color: var(--white-color);
    background-color: var(--main-btn-color);
}

.add-item .title .title-action .btn-remove {
    margin-right: 10px;
}

.add-item .title .title-action .btn-edit {
    margin-right: 10px;
}

.add-item .form-group {
    width: 100%;
    font-size: 18px;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 20px;
    position: relative;
    display: flex;
}
/* Cancel Reason */
.fa-sort-down-cancel-reason
{
    position: absolute;
    right: 0;
    margin-left: 20px;
    font-size: 40px;
    margin-top: -20px;
}
.form-group-cancel-reason:hover{
    cursor: pointer;
}
.form-group-cancel-reason:hover  .popover-cancel-reason
{
    display: flex;
}

.popover-cancel-reason:hover
{
    display: flex;
    cursor: auto;
}
#cancelReason:hover
{
    cursor: pointer;
} 
.popover-cancel-reason {
    position: absolute;
    right: 0;
    top: 38px;
    width: 50%;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 15px;
    padding: 15px 0;
    background-color: var(--white-color);
    color: var(--main-btn-color);
    border: solid 1px #999;
    z-index: 1;
    animation: slideToBottom ease 0.3s forwards;
    display: none;
}

.popover-cancel-reason  ul{
    width: 100%;
}
.popover-cancel-reason li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    transition: 0.5s;
}


.add-item .form-group label {
    width: 30%;
}

.add-item .form-group input:not([type='radio']) {
    position: absolute;
    right: 0;
    width: 50%;
    font-size: 18px;
    outline: none;
    border: none;
    text-align: right;
    background-color: var(--white-color);
    border-bottom: solid 1px var(--main-btn-color);
}

/* Info bill */

.add-item .input-info-payment {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: var(--main-btn-color);
}

.input-info-payment .row-payment {
    width: 100%;
    display: flex;
    color: var(--white-color);
    box-sizing: border-box;
    padding: 5px;
}

.input-info-payment .row-payment-header {
    color: rgb(0, 255, 255);
}

.input-info-payment .list-row {
    max-height: 150px;
    overflow-y: auto;
}

.input-info-payment .info-payment {
    border-top: solid 2px var(--white-color);
    padding-top: 15px;
}

.input-info-payment .info-payment .row-info {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: var(--white-color);
}

.input-info-payment .info-payment .row-info span:first-of-type {
    width: 200px;
    text-align: left;
}

.input-info-payment .info-payment .row-info span:last-of-type {
    margin-right: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.status input {
    width: 5%;
    cursor: pointer;
}

.status .input-status {
    width: 50%;
    position: absolute;
    right: 0;
    text-align: right;
}

.input-status label {
    width: 25%;
    cursor: pointer;
}

.add-item .button-list {
    /* display: none; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add-item .button-list .AskRemove {
    display: none;
}

.button-list button {
    color: var(--white-color);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 115px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px;
}

.button-list .btn-done {
    background-color: var(--main-btn-color);
}

.button-list .btn-skip {
    background-color: rgb(104, 104, 104);
}

.button-list .btn-restore {
    background-color: var(--main-color);
}

.input-role {
    position: absolute;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1px var(--main-btn-color);
    cursor: pointer;
}

.input-role i {
    margin-left: 20px;
    font-size: 40px;
    margin-top: -20px;
}

.popover-role {
    position: absolute;
    right: 0;
    top: 40px;
    width: 200px;
    max-height: 100px;
    overflow-y: auto;
    border-radius: 15px;
    padding: 15px 0;
    background-color: var(--main-btn-color);
    color: var(--white-color);
    border: solid 1px #999;
    z-index: 1;
    animation: slideToBottom ease 0.3s forwards;
    display: none;
}

@keyframes slideToBottom {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popover-role li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    height: 30px;
    width: 200px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.popover-role li:hover {
    background-color: rgba(153, 153, 153, 0.5);
    cursor: pointer;
}
