:root {
    --primary-color: linear-gradient(to right, #1289C0, #20b2aa);
    --text-color: #1289c0;
    --button-color: #20b2aa
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1589759118394-f5cfe6178fd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lora, sans-serif;
}

.block--center {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 80vh;
    border: 10px;
    border-radius: 30px;
    background-color: aliceblue;
    background-repeat: no-repeat;
    box-shadow: -13px 10px 20px 4px black
}

.block--info {
    top: 0;
    left: 0;
    width: 60%;
    position: relative;
    background: url(../images/anh4.png) no-repeat center;
    background-size: cover;
    border-radius: 30px 0 0 30px;
}

.block--info::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #0000003d;
    right: -10px;
}

.block--content {
    top: 0;
    left: 50%;
    width: 40%;
    background-color: aliceblue;
    border-radius: 0 30px 30px 0;
    text-align: center;
}

.block--content .form-field__welcome {
    display: flex;
    margin-top: 5%;
    width: 80%;
    height: 10%;
    border-radius: 0 30px 30px 0;
    background-color: var(--button-color);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.form-field__welcome h2 {

    color: white;
    text-transform: uppercase;
    font-size: 25px;
    /*font-style: bold;*/
    font-weight: 300;
    text-align: center;
}

.block--content .form-field__content {
    width: 100%;
    padding-top: 0;
    position: relative;

}


.login-label--info {
    display: flex;
    justify-content: center;
    margin: 80px 0 10px;
    font-size: 35px;
    font-weight: 300;
    color: var(--text-color);
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;


}

.message .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #ff6470;
}

.message .success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #5CB85C;
}

.form-field__content .form-field {
    padding: 30px 5px;
    position: relative;
}

.form-field__content .form-field:first-child {
    margin-top: 20px;
}

.form-field label {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: 0;
}

.form-field input {
    width: 80%;
    left: 10%;
    font-family: laura, sans-serif;
    font-size: 25px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid var(--text-color);
    outline: none;
    background: transparent;

}

.form-field__content .btn {
    display: inline;
    font-family: laura, sans-serif;
    width: 40%;
    height: 50px;
    border: 0;
    border-radius: 20px;
    background-color: var(--button-color);
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    transition: opacity 0.2s ease-in;
}

.form-field__content .btn:hover {
    opacity: 0.8;
}

.create-forgot a {
    -webkit-appearance: button;
    -moz-appearance: button;
    /*appearance: button;*/
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    margin-top: 50px;
    background: transparent;
    cursor: pointer;

}