<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/toast.css}">
    <link rel="shortcut icon" type="image/png" href="/images/logo-club.png"/>
    <script src="/js/config.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="side-bar">
        <header></header>
        <div class="side-bar-list" >
            <div class="side-bar-item active-item" name_tab = "tab-dashboard">
                <i class="fas fa-th-large"></i>
                <p>Tổng quan</p>
            </div>
            <div class="side-bar-item " name_tab = "tab-user">
                <i class="fas fa-user"></i>
                <p>Người dùng</p>
            </div>
            <div class="side-bar-item"  name_tab = "tab-table">
                <i class="fas fa-table"></i>
                <p>Bàn</p>
            </div>
            <div class="side-bar-item " name_tab = "tab-product">
                <i class="fas fa-cube"></i>
                <p>Hàng hóa</p>
            </div>
            <div class="side-bar-item " name_tab = "tab-deal">
                <i class="fas fa-exchange-alt"></i>
                <p>Giao dịch</p>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="header" >
            <header id ="main-content-header">Nhân viên</header>
            <div class="header-search">
                <div class="header-search-content">
                    <i class="fa fa-search"></i>
                    <input placeholder="Tìm kiếm" type="text" id="search-bar" onkeyup="searchItem(this)">
                </div>
            </div>


            <div class="header-right">
                <div class="user-name">
                    <span th:text="${email}"></span>
                </div>
                <div class="list-bar" onclick="ListBarPopover()">
                    <i class="fas fa-bars"></i>
                    <div class="list-bar-popover">
                        <ul>
                            <li>
                                <a href="/cashier">
                                    <i class="fas fa-cash-register"></i>
                                    <span>Thu ngân</span>
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="fas fa-external-link-alt"></i>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Tab-dashboard -->
        <div class="tab-dashboard section activeFlex  ">
            <div class="sales">

                <div class="title">
                    <p>KẾT QUẢ BÁN HÀNG <span>HÔM NAY</span></p>
                    <div class="drop-down">
                        <i class="fas fa-caret-down"></i>
                        <div class="list-date">
                            <ul id="menu-list-date">
                                <li id="today">Hôm nay</li>
                                <li id="yesterday">Hôm qua</li>
                                <li id="this-week">Tuần nay</li>
                                <li id="last-7-days">7 ngày qua</li>
                                <li id="this-month">Tháng này</li>
                                <li id="last-month">Tháng trước</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="info">

                    <div class="dolla-logo">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="info-amount-bill">
                        <p> <span id="number-of-order" th:text="${numberOfOrder}"></span> hóa đơn</p>
                        <p> <span id="total-amount" th:text="${totalAmount}"></span> vnđ</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tab user -->
        <div class="tab-user section ">
            <div class="tab-side-bar">

                <div class="item" id="StatusUser">
                    <p>Trạng thái</p>
                    <ul>
                        <li>
                            <input type="radio" name="user-status" id="StatusUserAll" onchange="getUserRadioCheck(this)">
                            <label for="StatusUserAll">Tất cả</label>
                        </li>

                        <li>
                            <input type="radio" name="user-status" id="StatusUserWork" checked onchange="getUserRadioCheck(this)">
                            <label for="StatusUserWork">Hoạt động</label>
                        </li>
                        <li>
                            <input type="radio" name="user-status" id="StatusUserNotWork" onchange="getUserRadioCheck(this)">
                            <label for="StatusUserNotWork">Ngừng hoạt động</label>
                        </li>
                    </ul>
                </div>

                <div class="item" id="TypeUser">
                    <p>Vai trò</p>
                    <ul>
                        <li>
                            <input type="radio" name="user-role" id="TypeUserAll" checked onchange="getUserRadioCheck(this)">
                            <label for="TypeUserAll">Tất cả</label>
                        </li>
                        <li th:each=" role : ${roles}">
                            <input type="radio" name="user-role" th:attr="id=${role}" onchange="getUserRadioCheck(this)">
                            <label th:attr="for=${role}" th:text="${role}" ></label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="main-tab">
                <div class="action">
                    <button type="button" class="btn" id = "btn-add-user">Thêm người dùng</button>
                </div>

                <div class="table-show">
                    <div class="table-header row">
                        <div class="col-5-2">Họ và tên</div>
                        <div class="col-5-2">Email</div>
                        <div class="col-5-2">Vai trò</div>
                        <div class="col-5-2">Trạng thái</div>
                    </div>

                    <div class="list-row" id="list-users">
                        <div class="row" th:each="user : ${users}" th:attr="user-id=${user.id}">
                            <div class="col-5-2" th:text="${user.userName}"></div>
                            <div class="col-5-2" th:text="${user.email}"></div>
                            <div class="col-5-2" th:text="${user.role}"></div>
                            <div class="col-5-2" th:text="${user.deletedAt == null} ? 'Đang hoạt động' : 'Ngừng hoạt động'"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-item-wrapper" id="add-user">
                <div class="add-item">
                    <div class="title">
                        <p>Thêm người dùng</p>
                        <div class="title-action">
                            <button type="button" class="btn btn-remove" >
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button type="button" class="btn btn-edit" >
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nameUser">Họ và tên</label>
                        <input type="text" id = "nameUser" required>
                    </div>

                    <div class="form-group">
                        <label for="accountUser">Email</label>
                        <input type="text" id = "accountUser" required>
                    </div>
                    <div class="form-group" id="form-password">
                        <label for="passwordUser">Mật khẩu</label>
                        <input type="password"  id = "passwordUser" onchange="PasswordLength(this)" required>
                    </div>
                    <div class="form-group" id="form-confirm-password">
                        <label for="confirmPasswordUser">Gõ lại mật khẩu</label>
                        <input type="password" id = "confirmPasswordUser" onchange ="ConfirmPassword(this)">
                    </div>
                    <div class="form-group">
                        <label >Vai trò</label>
                        <div class="input-role" id = "Input-Role-User">
                            <span>STAFF</span>
                            <i class="fas fa-sort-down"></i>
                        </div>
                        <div class="popover-role" id = "popover-role-User">
                            <ul>
                                <li th:each="role : ${roles}" th:text="${role}"></li>
                            </ul>
                        </div>

                    </div>

                    <div class="form-group status" id="user-status-form-div">
                        <label>Tình trạng</label>
                        <div class="input-status">

                            <input type="radio" name = "status" id="statusUserTrue" checked  onmouseup = "return false">
                            <label for="statusUserTrue">Đang hoạt động</label>

                            <input type="radio" name = "status" id="statusUserFalse"  onmouseup = "return false" disabled>
                            <label for="statusUserFalse">Ngừng hoạt động</label>
                        </div>

                    </div>
                    <div class="form-group button-list">
                        <p class="AskRemove">Bạn có muốn xóa</p>
                        <button type="button" class="btn btn-done">Hoàn tất</button>
                        <button type="button" class="btn btn-skip">Bỏ qua</button>
                    </div>

                </div>
            </div>

        </div>



        <!-- Tab  table -->

        <div class="tab-table section ">
            <div class="tab-side-bar">

                <div class="item" id="statusTable">
                    <p>Trạng thái</p>
                    <ul>
                        <li>
                            <input type="radio" name="table-status" id="all-status-table" onchange="getTableRadioCheck(this)">
                            <label for="all-status-table">Tất cả</label>
                        </li>

                        <li>
                            <input type="radio" name="table-status" id="available-table" onchange="getTableRadioCheck(this)" checked>
                            <label for="available-table">Hoạt động</label>
                        </li>
                        <li>
                            <input type="radio" name="table-status" id="unavailable-table" onchange="getTableRadioCheck(this)">
                            <label for="unavailable-table">Ngừng hoạt động</label>
                        </li>
                    </ul>
                </div>


                <div class="item" id="TypeTable">
                    <p>Loại bàn</p>
                    <ul id="list-table-types">
                        <li>
                            <input type="radio" name="table-type" id="TypeTableAll" onchange="getTableRadioCheck(this)"
                                   checked>
                            <label for="TypeTableAll">Tất cả</label>
                        </li>
                        <li th:each="tableType : ${tableTypes}">
                            <input type="radio" name="table-type" th:attr="id='type' + ${tableType.id}, price=${tableType.price}" onchange="getTableRadioCheck(this)">
                            <label th:attr="for='type' + ${tableType.id}" th:text="${tableType.name}"></label>
                            <i class="fas fa-edit"></i>
                        </li>
                    </ul>
                    <Button type="button" class="btn btn-add-type" id="btn-add-type-table">Thêm loại bàn</Button>
                </div>
            </div>

            <div class="main-tab">
                <div class="action">
                    <button type="button" class="btn" id = "btn-add-table">Thêm bàn</button>
                </div>

                <div class="table-show">
                    <div class="table-header row">
                        <div class="col-3">Tên bàn</div>
                        <div class="col-3">Loại bàn</div>
                        <div class="col-2">Giá</div>
                        <div class="col-2">Trạng thái</div>
                    </div>

                    <div class="list-row" id="list-tables">
                        <div class="row" th:each=" table : ${tables}" th:if="${table.deletedAt == null}" th:attr="table-id=${table.id}">
                            <div class="col-3" th:text="${table.name}"></div>
                            <div class="col-3" th:text="${table.tableType.name}"></div>
                            <div class="col-2 trailing-zero" th:text="${table.tableType.price}"></div>
                            <div class="col-2" th:if="${table.deletedAt != null}">Ngừng hoạt động</div>
                            <div class="col-2" th:unless="${table.deletedAt != null}">Hoạt động</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-item-wrapper" id="add-table">
                <div class="add-item">
                    <div class="title">
                        <p>Thêm bàn</p>
                        <div class="title-action">
                            <button type="button" class="btn btn-remove" >
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button type="button" class="btn btn-edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nameTable">Tên bàn</label>
                        <input type="text" id = "nameTable" required>
                    </div>

                    <div class="form-group">
                        <label for="type-table">Loại bàn</label>
                        <div class="input-role" id = "type-table">
                            <span>Chọn loại bàn</span>
                            <i class="fas fa-sort-down"></i>
                        </div>
                        <div class="popover-role" id = "popover-type-table">
                            <ul>
                                <li th:each="tableType : ${tableTypes}" th:attr="table-type-form-id=${tableType.id}" th:text="${tableType.name}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group status" id="table-status-form-div">
                        <label>Tình trạng</label>
                        <div class="input-status">
                            <input type="radio" name = "table-status-form" id="statusTableTrue" checked >
                            <label for="statusTableTrue">Đang hoạt động</label>
                            <input type="radio" name = "table-status-form" id="statusTableFalse" disabled>
                            <label for="statusTableFalse">Không hoạt động</label>
                        </div>
                    </div>
                    <div class="form-group button-list  ">
                        <p class="AskRemove">Bạn có muốn xóa</p>
                        <button type="button" class="btn btn-done" id="table-type-form">Hoàn tất</button>
                        <button type="button" class="btn btn-skip">Bỏ qua</button>
                    </div>

                </div>
            </div>


            <div class="add-item-wrapper" id="add-type-table">
                <div class="add-item">
                    <div class="title">
                        <p>Thêm loại bàn</p>
                        <div class="title-action">
                            <button type="button" class="btn btn-remove" >
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button type="button" class="btn btn-edit" >
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NameTypeTable">Tên loại bàn</label>
                        <input type="text" id = "NameTypeTable">
                    </div>
                    <div class="form-group">
                        <label for="PriceTypeTable">Giá / giờ :</label>
                        <input type="text" id = "PriceTypeTable" onkeyup="InputPrice(this)">
                    </div>

                    <div class="form-group button-list ">
                        <p class="AskRemove">Bạn có muốn xóa</p>
                        <button type="button" class="btn btn-done">Hoàn tất</button>
                        <button type="button" class="btn btn-skip">Bỏ qua</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Tab product -->
        <div class="tab-product section  ">
            <div class="tab-side-bar">

                <div class="item" id="statusProdcut">
                    <p>Trạng thái</p>
                    <ul>
                        <li>
                            <input type="radio" name="product-status" id="StatusProductAll" onchange="getProductRadioCheck(this)" checked>
                            <label for="StatusProductAll">Tất cả</label>
                        </li>

                        <li>
                            <input type="radio" name="product-status" id="StatusProductWork" onchange="getProductRadioCheck(this)">
                            <label for="StatusProductWork">Đang kinh doanh </label>
                        </li>
                        <li>
                            <input type="radio" name="product-status" id="StatusProductNotWork" onchange="getProductRadioCheck(this)">
                            <label for="StatusProductNotWork">Ngừng kinh doanh</label>
                        </li>
                    </ul>
                </div>

                <div class="item" id="TypeProduct">
                    <p>Loại hàng hóa</p>
                    <ul id="list-product-category">
                        <li>
                            <input type="radio" name="product-category" id="TypeProductAll" onchange="getProductRadioCheck(this)"
                                   checked>
                            <label for="TypeProductAll">Tất cả</label>
                        </li>

                        <li th:each="category : ${categories}">
                            <input type="radio" name="product-category" th:attr="id='cate' + ${category.id}" onchange="getProductRadioCheck(this)">
                            <label th:attr="for='cate' + ${category.id}" th:text="${category.name}"></label>
                            <i class="fas fa-edit"></i>
                        </li>

                    </ul>
                    <Button type="button" class="btn btn-add-type" id="btn-add-type-product">Thêm loại hàng hóa</Button>
                </div>


            </div>

            <div class="main-tab">
                <div class="action">
                    <button type="button" class="btn" id = "btn-add-product">Thêm hàng hóa</button>
                </div>

                <div class="table-show">
                    <div class="table-header row">
                        <div class="col-2">Mã hàng</div>
                        <div class="col-2">Tên hàng</div>
                        <div class="col-2">Loại hàng</div>
                        <div class="col-2">Giá bán</div>
                        <div class="col-2">Tồn kho</div>
                    </div>

                    <div class="list-row" id="list-products">
                        <div class="row" th:each="product : ${products}" th:attr="product-id=${product.id}">
                            <div class="col-2" th:text="'SP' + ${product.id}"></div>
                            <div class="col-2" th:text="${product.name}"></div>
                            <div class="col-2" th:text="${product.category != null} ? ${product.category.name} : ''"></div>
                            <div class="col-2 trailing-zero" th:text="${product.price}"></div>
                            <div class="col-2 trailing-zero" th:text="${product.quantityRemain}"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="add-item-wrapper" id="add-product">
                <div class="add-item">
                    <div class="title">
                        <p>Thêm hàng hóa</p>
                        <div class="title-action">
                            <button type="button" class="btn btn-remove">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button type="button" class="btn btn-edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idProduct">Mã hàng</label>
                        <input type="text" id = "idProduct" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nameProduct">Tên hàng hóa</label>
                        <input type="text" id = "nameProduct">
                    </div>
                    <div class="form-group">
                        <label for="priceProduct">Giá bán</label>
                        <input type="text" id = "priceProduct"  oninput="InputPrice(this)"  onkeypress="return InputNumber(this)">
                    </div>
                    <div class="form-group">
                        <label for="productUnit">Đơn vị</label>
                        <input type="text" id = "productUnit">
                    </div>
                    <div class="form-group">
                        <label for="productImg">Link ảnh</label>
                        <input type="text" id = "productImg">
                    </div>
                    <div class="form-group">
                        <label for="quantityRemainProduct">Tồn kho</label>
                        <input type="text" id = "quantityRemainProduct" oninput="InputPrice(this)" onkeypress="return InputNumber(this)">
                    </div>

                    <div class="form-group">
                        <!-- Sử dụng lại input role -->
                        <label >Loại hàng hóa</label>
                        <div class="input-role" id="type-product">
                            <span>Chọn loại hàng hóa</span>
                            <i class="fas fa-sort-down"></i>
                        </div>
                        <div class="popover-role" id = "popover-type-product">
                            <ul>
                                <li th:each="category : ${categories}"
                                    th:text="${category.name}"
                                    th:attr="category-id=${category.id}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group status" id="product-status-form-div">
                        <label>Tình trạng</label>
                        <div class="input-status">
                            <input type="radio" name = "product-status-form" id="statusProductTrue" checked >
                            <label for="statusProductTrue">Đang Kinh doanh</label>
                            <input type="radio" name = "product-status-form" id="statusProductFalse" disabled>
                            <label for="statusProductFalse">Ngừng kinh doanh</label>
                        </div>
                    </div>

                    <div class="form-group button-list  ">
                        <p class="AskRemove">Bạn có muốn xóa</p>
                        <button type="button" class="btn btn-done">Hoàn tất</button>
                        <button type="button" class="btn btn-skip">Bỏ qua</button>
                    </div>

                </div>
            </div>

            <div class="add-item-wrapper" id="add-type-product">
                <div class="add-item">

                    <div class="title">
                        <p>Thêm loại hàng hóa</p>
                        <div class="title-action">
                            <button type="button" class="btn btn-remove" id = "remove-user">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button type="button" class="btn btn-edit" id = "edit-user">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="IdTypeProduct">Mã loại hàng hóa</label>
                        <input type="text" id = "IdTypeProduct" readonly>
                    </div>
                    <div class="form-group">
                        <label for="NameTypeProduct">Tên loại hàng hóa</label>
                        <input type="text" id = "NameTypeProduct">
                    </div>

                    <div class="form-group button-list  ">
                        <p class="AskRemove">Bạn có muốn xóa</p>
                        <button type="button" class="btn btn-done">Hoàn tất</button>
                        <button type="button" class="btn btn-skip">Bỏ qua</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Tab deal-->
        <!--  -->
        <!--  -->
        <div class="tab-deal section ">
            <div class="tab-side-bar">

                <div class="item" id="StatusDeal">
                    <p>Trạng thái</p>
                    <ul>
                        <li>
                            <input type="radio" name="order-status" id="StatusDealAll" onchange="getBillRadioCheck(this)"
                                   checked>
                            <label for="StatusDealAll">Tất cả</label>
                        </li>

                        <li>
                            <input type="radio" name="order-status" id="StatusDealCompleted" onchange="getBillRadioCheck(this)">
                            <label for="StatusDealCompleted">Hoàn thành</label>
                        </li>
                        <li>
                            <input type="radio" name="order-status" id="StatusDealCanceled" onchange="getBillRadioCheck(this)">
                            <label for="StatusDealCanceled">Đã hủy</label>
                        </li>
                    </ul>
                </div>


                <div class="item" id="DateDeal">
                    <p>Thời gian</p>
                    <ul>
                        <li>
                            <input type="radio" name="order-date" id="DateDealAll" onchange="getBillRadioCheck(this)"
                                   checked>
                            <label for="DateDealAll">Tất cả</label>
                        </li>
                        <li>
                            <input type="radio" name="order-date" id="DateDealNow" onchange="getBillRadioCheck(this)">
                            <label for="DateDealNow">Hôm nay</label>
                        </li>

                        <li>
                            <input type="radio" name="order-date" id="DateDealWeek" onchange="getBillRadioCheck(this)">
                            <label for="DateDealWeek">Tuần qua</label>
                        </li>
                        <li>
                            <input type="radio" name="order-date" id="DateDealAnother" onchange="getBillRadioCheck(this)">
                            <label for="DateDealAnother">Lựa chọn khác</label>
                        </li>
                    </ul>
                    <div class="DateDealAnother">
                        <div class="form-group">
                            <label for="DateFrom">Từ ngày</label>
                            <input type="date" id="DateFrom" name="order-Date">
                        </div>

                        <div class="form-group">
                            <label for="DateTo">Đến ngày</label>
                            <input type="date" id="DateTo" name="order-Date">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-done">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-tab">
                <div class="action" id="Table-show-deal">
                </div>
                <div class="table-show" >
                    <div class="table-header row">
                        <div class="col-2">Mã hóa đơn</div>
                        <div class="col-2">Thời gian</div>
                        <div class="col-2">Tổng tiền hàng</div>
                        <div class="col-2">Giảm giá</div>
                        <div class="col-2">Trạng thái</div>
                    </div>

                    <div class="list-row" id="list-bills">
                        <div class="row" th:each="bill : ${bills}" th:attr="id=${bill.id}">
                            <div class="col-2" th:text="'HD' + ${bill.id}"></div>
                            <div class="col-2" th:text="${bill.beginAt}"></div>
                            <div class="col-2 trailing-zero" th:text="${bill.total}"></div>
                            <div class="col-2 trailing-zero" th:text="${bill.discount}"></div>
                            <div class="col-2" th:if="${bill.isCanceled == true}">Đã hủy</div>
                            <div class="col-2" th:unless="${bill.isCanceled == true}">Hoàn thành</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-item-wrapper" id="info-bill">
                <div class="add-item">
                    <div class="title">
                        <p>Thông tin hóa đơn</p>
                        <div class="title-action">
                            <button type="button" class="btn btn-remove">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button type="button" class="btn btn-edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                        <p>Updated at: <span id="updated-bill-infor">2021-06-02</span></p>
                    </div>
                    <div class="form-group">
                        <label for="IDBillDeal">Mã hóa đơn</label>
                        <input type="text" id = "IDBillDeal" readonly >
                    </div>

                    <div class="form-group">
                        <label for="InfoTableDeal">Bàn</label>
                        <input type="text" id = "InfoTableDeal" readonly>
                    </div>
                    <div class="form-group">
                        <label for="DateFromDeal">Giờ bắt đầu</label>
                        <input type="text" id = "DateFromDeal" readonly>
                    </div>
                    <div class="form-group">
                        <label for="DateToDeal">Giờ kết thúc</label>
                        <input type="text" id = "DateToDeal" readonly>
                    </div>
                    <div class="form-group">
                        <label for="statusDeal">Trạng thái</label>
                        <input type="text" id = "statusDeal" readonly>
                    </div>
                    <div class="form-group">
                        <label for="noteDeal">Ghi chú</label>
                        <input type="text" id = "noteDeal" >
                    </div>
                    <div class="form-group form-group-cancel-reason">
                        <label for="cancelReason">Lí do hủy món</label>
                        <input type="text" id = "cancelReason" >
                        <div class="popover-cancel-reason" id = "popover-cancel-reason">
                            <ul>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label>Thông tin giao dịch</label>
                    </div>
                    <div class="input-info-payment">
                        <div class="row-payment-header row-payment ">
                            <div class="col-2">Tên</div>
                            <div class="col-2">Số lượng</div>
                            <div class="col-2">Đơn giá</div>
                            <div class="col-2">Giá bán</div>
                            <div class="col-2">Thành tiền</div>
                        </div>
                        <div class="list-row" id="list-order-details">
                        </div>

                        <div class="info-payment">
                            <div class="row-info">
                                <span>Tổng số lượng</span>
                                <span id="bill-total-amount"></span>
                            </div>
                            <div class="row-info">
                                <span>Tổng tiền hàng</span>
                                <span id="bill-total-money"></span>
                            </div>
                            <div class="row-info">
                                <span>Giảm hóa đơn</span>
                                <span id="bill-discount"></span>
                            </div>
                            <div class="row-info">
                                <span>Sau khi giảm</span>
                                <span id="bill-after-discount"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group button-list  ">
                        <p class="AskRemove">Bạn có muốn xóa</p>
                        <button type="button" class="btn btn-done">Hoàn tất</button>
                        <button type="button" class="btn btn-restore">Khôi phục</button>
                        <button type="button" class="btn btn-skip">Bỏ qua</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toast">
</div>
<script src="/js/admin/admin-side-bar-event.js"></script>
<script src="/js/admin/admin-dashboard.js"></script>
<script src="/js/admin/admin-user.js"></script>
<script src="/js/admin/admin-table.js"></script>
<script src="/js/admin/admin-product.js"></script>
<script src="/js/admin/admin-deal.js"></script>


</body>
</html>